body, html{
    height: 100%;
    margin: 0px;
}
body{
    background-color: lightgray;
}
nav li{
    display: inline;
    margin: 20px;
}

nav ul{
    background-color: gray;
    margin:0;
    list-style-type:none;
    width: 100%;
    padding: 20px;
    text-align: center;

}

nav{
    display: block;
    color: white;
}

nav a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover{
    color: white;
}

.hero-image{
    background-image:url("../images/IMG_1567.jpg");
    height: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.hero-text{
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%)
}

#main{
    width: 75%;
    float: left;
    height: 100%;
    padding-left: 20px;
    padding-top: 20px;
}

#side{
    width: 20%;
    float: right;
    height: 100%;
    padding: 20px;
}

#profile-image{
    width: 100%;
    border-radius: 10%;
    border: 5px solid lightgray;
}
#profile{
    text-align: center;
}

#profile h1{
    display: inline;
   
}
#profile-details{
    margin-right: 30px;
    text-align: center;

}

.side-articles, .main-articles{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;

}
.side-articles{
    background-color: lightgray;
    text-align: center;
}
.main-articles{
    background-color: darkgray;
}

form{
    margin-top: 20px;

}

textarea, input{
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.side-articles h1{
    margin-bottom: 20px;
    
}

footer{
    width: 100%;
    background-color: black;
    height: 5vh;
    margin-top: 0px;

}
footer div{
    text-align: center;
    color: white;
}

main{
    overflow: auto;
}

footer hr{
    margin-top: 0px;
    height: 12px;
    border: 0px;
    box-shadow: inset 0 12 px 12 px -12px white
}
.bodyImage{
    height: 300px;
    width: 600px;
    display: block;
    margin: auto;

}

h1{
    font-size: 36px;
}

p{
    font-size: 20px;
}
h3{
    color:darkblue;
}